@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@500&display=swap');
@import url(https://db.onlinewebfonts.com/c/37086b994764dba84b2ee0f1083bfeed?family=SB+Sans+Interface);
@import url(https://db.onlinewebfonts.com/c/2d130488c7306881cf236b40ea2a1020?family=SB+Sans+Display+Semibold);
@import url(https://db.onlinewebfonts.com/c/b11e59642c941f222ac9b750f9024e46?family=SB+Sans+Display+Thin);


*{
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}

body {
  background: url(../assets/studentMain.png) center center / 100% 100% no-repeat;
	max-height: 837px;
}

.All_Header_menu{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.Top_Menu li{
  display: inline-block;
}

.Logo, .Top_Menu{
  display: inline-block;
}

.Logo{
  font-family: "SB Sans Display Semibold";
  line-height: 80px;
  text-align: center;
  color: white;
  font-size: 34px;
}

#But1, #But2{
  display: block;
  text-align: center;
  color: rgb(33, 33, 34);
  background: #fff;
  border-radius: 32px;
  cursor: pointer;
	user-select: none;
	line-height: 48px;
	height: 48px;
}

#But1{
	margin: 22px 0px 0px 32px;
	font-family: 'Red Rose', serif;
	line-height: 46px;
	width: 48px;
	font-size: 21px;
	transform: rotate(90deg);
}

#But1_menu{
	display: block;
	position: absolute;
	margin: 21px 0px 0px 32px;
	font-family: 'Red Rose', serif;
	width: 206px;
	font-size: 26px;
	border-radius: 20px;
	color: rgb(33, 33, 34);
  background: rgb(241,242,246);
	z-index: 4;
	visibility: hidden;
}

#But1_menu_back{
	position: fixed;
	background: grey;
	opacity: 70%;
	height: 150%;
	width: 100%;
	visibility: hidden;
	z-index: 3;
}

.but_menu_edit li:nth-child(5){
	margin-top: 10%;
}
.but_menu_edit li:nth-child(7){
	margin-top: 10%;
	margin-bottom: 10%;
}

#But2{
	margin: 4px;
	font-family: "SB Sans Interface";
	display: block;
	font-size: 15px;
	width: 186px;
	border-radius: 30px;
	text-decoration: none;
}

.menu_item{
	position: relative;
	font-size: 0.7em;
	font-family: "SB Sans Interface", Arial, Helvetica, sans-serif;
	display: block;
	text-decoration: none;
	color: rgb(120,132,147);
	height: 52px;
	line-height: 52px;
	width: 100%;
	stroke: rgb(120,132,147);
  fill: rgb(120,132,147);
}

.menu_item:hover{
	background: rgb(5,125,255);
	stroke: #fff;
  fill: #fff;
  color: #fff;
  transition: 0.1s linear;
}

.ed_menu, #ed_row, #navigation{
  border-radius: 20px;
  max-width: 1070px;
  max-height: 275px;
	position: relative; 	
  display: flex;
  justify-content: start;
  align-items: center;
}

.ph_size{
	display: inline-block;
	width: 20px;
	height: 25px;
}

.cont_padding{
	padding: 0 5%;
}

.ed_menu, #navigation{
  color: rgb(33, 33, 34);
  background: #f1f2f6;
  margin: 0 auto;
  margin-top: 5px;
  overflow: hidden;
}

#navigation, #ed_row{
	margin-top: 0px;
	overflow: visible;
	right: 0;
}

#ButR, #ButL{
	display: block;
  text-align: center;
  color: rgb(33, 33, 34);
  background: #fff;
  border-radius: 32px;
  cursor: pointer;
	user-select: none;
	line-height: 46px;
	width: 48px;
	height: 48px;
	font-size: 21px;
	position: absolute;
	z-index: 1;
	right: 0px;
	top: 110px;
	margin-right: -24px;
}

#ButL{
	left: 0px;
	margin-left: -24px;
}

.txt{
  font-family: "SB Sans Display Thin";
  display: inline-block;
  font-size: 1.55em;
  height: 240px;
  min-width: 190px;
  font-weight: 1000;
}

.txt div {
  margin: 37px 0px 0px 40px;
  height: 50px;
}

.ed_block{
  border-radius: 20px;
  margin: 20px 10px 20px 10px;
  height: 240px;
  width: 210px;
  background: rgb(169,169,195);
  color: #fff;
  display: inline-block;
  font-family: "SB Sans Interface", Arial, Helvetica, sans-serif;
  text-align: start;
  background: -webkit-linear-gradient(-250deg, rgb(169,169,195) 0, rgb(169,169,195) 82%, rgb(147,147,180) 82%, rgb(147,147,180) 100%);
  background: -moz-linear-gradient(340deg, rgb(169,169,195) 0, rgb(169,169,195) 82%, rgb(147,147,180) 82%, rgb(147,147,180) 100%);
  background: linear-gradient(340deg, rgb(169,169,195) 0, rgb(169,169,195) 82%, rgb(147,147,180) 82%, rgb(147,147,180) 100%);
  background-position: 50% 50%;
}

.ed_block h5{
  text-decoration: solid underline #fff 2px;
  text-underline-offset: 6px;
  letter-spacing: 1px;
  margin: 20px;
  width: 210px;
}

.ed_block p{
  font-size: 1.3em;
  margin: 20px;
  hyphens: manual;
  width: 170px;
}

.ed_block:hover{
	-webkit-box-shadow: 0px 10px 12px 5px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 10px 12px 5px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 10px 12px 5px rgba(34, 60, 80, 0.2);
	transform: translate(0px,-4px);
	-webkit-transition: 0.2s ease; /* Safari and Chrome */
	-moz-transition: 0.2s ease; /* Firefox 4 */
	-o-transition: 0.2s ease;
}

#But1:hover{
  background: rgb(5,125,255);
  color: #fff;
  transition: 0.1s linear;
}

#But2:hover{
  stroke: #fff;
  fill: #fff;
  background: rgb(5,125,255);
  color: #fff;
  transition: 0.1s linear;
}

#menu_low{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 90px auto 0 auto;
		width: 100%;
		max-width: 1250px;
}

#left_block, #right_block{
		display: flex;
		flex-wrap: wrap;
}

#left_block{
		align-self: start;
		flex: 0 0 33%;
		max-width: 33%; 
		order: 1;
}

#right_block{
		flex: 0 0 67%;
		max-width: 67%;
		order: 2;
}

.blocks_lower{
		margin: 0 auto 4% auto;
		border-radius: 20px;
		box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
}

.blocks_lower:hover	{
		-webkit-box-shadow: 7px 9px 11px 5px rgba(34, 60, 80, 0.2);
		-moz-box-shadow: 7px 9px 11px 5px rgba(34, 60, 80, 0.2);
		box-shadow: 7px 9px 11px 5px rgba(34, 60, 80, 0.2);
}

#right_block .blocks_lower{
		width: 46%;
}

#left_block .blocks_lower{
		width: 94%;
}

#rb1, #rb2, #rb3{
	display: block;
	padding: 2% 5%;
	background: #fff;
	color: rgb(117,117,117);
	font-family: "SB Sans Interface", Arial, Helvetica, sans-serif;
	font-size: 1.2em;
}

.rbIMG{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 196px;
	max-height: 193px;
}

.bl_inside{
	padding: 2%;
	margin-bottom: 3%;
}

.bt_text{
	display: block;
	width: 100%;
	font-size: 0.79em;
	font-family: "SB Sans Interface", Arial, Helvetica, sans-serif;
	color: rgb(33, 33, 34);
	text-align: center;
}

.rbBut{
/*	margin-top: 6%;*/
	user-select: none;
	font-size: 0.8em;
	line-height: 40px;
	display: block;
	background: rgb(59,75,223);
	color:aliceblue;
	width: 190px;
	height: 40px;
	border-radius: 20px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	margin: 0 auto;
}

.c1{
	background-color: rgb(98,0,238);
}

.sec{
	color: rgb(33,33,34);
	background: #fff;
	stroke: rgb(33,33,34);
	fill: rgb(33,33,34);
}

.sec:hover{
	fill: #fff;
	stroke:#fff;
	color: #fff;
}

.rbBut:hover{
	background: rgb(5,125,255);
	transition: 0.1s linear;
}

.phone_menu{
	visibility: hidden;
	color: azure;
	font-size: 2em;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
		#right_block{
			flex: 0 0 50%;
			max-width: 50%;
		}
		#left_block{
			flex: 0 0 50%;
			max-width: 50%; 
		}
		#right_block .blocks_lower{
			width: 80%;
		}
		#left_block .blocks_lower{
			width: 90%;
		}
		.Logo{
			display: block;
			font-size: 30px;
			width: 100%;
		}
		#But1{
			margin: 15px 0px 0px 22px;
			line-height: 31px;
			width: 32px;
			height: 32px;
			font-size: 14px;
		}
		
		#But1_menu{
			margin: 15px 0px 0px 22px;
			font-size: 14px;
			width: 128px;
			border-radius: 15px;
		}

		#But2{
			margin: 15px 0px 0px 3px;
			font-size: 12px;
			line-height: 32px;
			height: 32px;
			width: 134px;
		}
		.ph_size{
			width: 15px;
			height: 20px;
		}
}


@media screen and (max-width: 767px) {
		#right_block{
			flex: 0 0 100%;
			max-width: 100%;
		}
		#left_block{
			flex: 0 0 100%;
			max-width: 100%; 
		}
		#right_block .blocks_lower{
			width: 90%;
		}
		#left_block .blocks_lower{
			width: 90%;
		}
		.Logo{
			display: block;
			font-size: 26px;
			width: 100%;
		}
		#But1{
			margin: 15px 0px 0px 22px;
			line-height: 31px;
			width: 32px;
			height: 32px;
			font-size: 14px;
		}
		#But1_menu{
			margin: 15px 0px 0px 22px;
			font-size: 14px;
			width: 128px;
			border-radius: 15px;
		}

		#But2{
			margin: 15px 0px 0px 3px;
			font-size: 12px;
			line-height: 32px;
			height: 32px;
			width: 134px;
		}
		.ph_size{
			width: 15px;
			height: 20px;
		}
		.phone_menu{
			visibility: visible;
		}
		.np_menu{
			display: none;
		}
}
